<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--START Replace Me-->
		<add key="testApiKey" value="XXXXXXXXXXXXXXXXXXX" />
		<add key="testUserId" value="123123123123123" />
		<add key="testUserName" value="User Name" />
		<add key="testWorkspaceId" value="123123123123123" />
		<add key="testProjectId" value="123123123123123" />
		<!--END Replace Me-->
		
	</appSettings>
</configuration>